.App {
  text-align: center;
  
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 40vmin;
  margin-top: 20px;
  margin-bottom: 20px;
}

.App-header {
  background-color: #470000;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border-width: 10px;
  border-style: solid;
  border-color: black;
}

.App-content {
  
  background-color: #793030;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Images-input {
  display: flex;
  flex-direction: column;
}

.Single-image {
  margin-top: 20px;
}

.App-link {
  color: #61dafb;
}

.Submit {
  margin-top: 20px
}

input {
  margin-left: 20px;
  margin-right: 20px;
}

label {
  margin-top: 20px;
  justify-content: space-between;
}

form {
  display: flex;
  flex-direction: column;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
